/* scrollToTopButton.css */
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
   
}

.scroll-to-top-button:hover {
    opacity: 1;
}