.dark-mode a {
    color: white;
}

.dark-mode {
    background-color: #222222;
    color: #fff;
}
.dark-mode-logo {
    filter: invert(100%);
}

.dark-mode-linknav {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 1rem;
}
.darkmode-popup{
    background-color:inherit;
    color:inherit;
}