.searchBox {
    width: inherit;
    border: 1px solid;
    border-radius: 1rem;
    padding: 0px 1rem 1rem 1rem;
}

.searchBox input[type=text] {
    width: 75%;
}

.searchBox div {
    margin: 0.1rem;
}

.searchBox input[type=text] {
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
}