.form-container {
    opacity: 0;
    transition: opacity 0.5s ease;
    max-height: 0;
    overflow: hidden;
}

    .form-container.active {
        opacity: 1;
        max-height: 500px; /* This value might need adjustments depending on your form size */
    }
.auth-container {
    display: flex;
    gap: 10px; /* space between buttons, adjust as needed */
}
