.login-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.login-container {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid #ffffff;
    width: 30%;
    border-radius: 0.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.login-container header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.login-container .field {
    margin-bottom: 1rem;
}

.login-container .label {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 0.3rem;
}

.login-container input[type="text"], 
.login-container input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin: 0;
}

.login-container button {
    width: 100%;
    padding: 0.5rem;
    color: black;
    background-color: white;
    border: black solid 1px;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: black;
    color: white;
}

.login-container a {
    color: #000000;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
